client/node_modules/

venv_multimodal/


server/__pycache__/
server/attendance.db

server/dlib_face_recognition_resnet_model_v1.dat
server/shape_predictor_68_face_landmarks.dat

.vscode/

.DS_Store
*.log
.env

Thumbs.db



